#title{
    background-color: lightgoldenrodyellow;
    height: 10vh;
    width: 100vw;
    margin: 0;
}
#main{
	background-color: lightgoldenrodyellow;
	height: 80vh;
	width: 100vw;
	margin: 0;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}
#bottom{
    background-color: black;
    height: 10vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
}
